node_modules/
dist/
.env
*.db
*.db-shm
*.db-wal
.DS_Store
out/
release/
*.tsbuildinfo
apps/renderer/vite.config.js
apps/renderer/vite.config.d.ts
.claude/
*.db-shm
*.db-wal
supabase/.temp/
*.sql
supabase/