NODE_ENV=development
PORT=3001
DB_PROVIDER=sqlite
DATABASE_URL="file:../../data/ferred_branch1.db"
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_KEY=your-key
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=8h
CRYPTO_SECRET=your-crypto-secret
DTE_ENV=sandbox
DTE_SANDBOX_URL=https://apitest.dtes.mh.gob.sv
